<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="Console" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="INFO" />
			<forecolor value="Green" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<LevelMin value="INFO" />
			<acceptOnMatch value="true" />
		</filter>
	</appender>
	<appender name="File" type="log4net.Appender.FileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file type="log4net.Util.PatternString">
			<conversionPattern value="%property{logPath}\log_%property{operation}_%date{yyyy_MM_dd_HH_mm_ss}.txt" />
		</file>
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<!--<conversionPattern value="%utcdate{HH:mm:ss}	%message%newline" />-->
			<conversionPattern value="[%date{HH:mm:ss}] %message%newline" />
		</layout>
	</appender>
	<logger name="Operation">
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="Terrasoft.Core.Packages.PackageDBResourcesStorage">
		<level value="INFO" />
		<appender-ref ref="File" />
	</logger>
	<logger name="Terrasoft.Core.Packages.PackageResourcesStorage">
		<level value="INFO" />
		<appender-ref ref="File" />
	</logger>
	<logger name="DebugInstallData">
		<level value="OFF" />
		<appender-ref ref="File" />
	</logger>
	<logger name="ProcessDesignLog">
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="InstallZipPackage">
		<level value="INFO" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<logger name="ConfigurationBuild">
		<level value="INFO" />
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</logger>
	<root>
		<level value="WARN" />
		<appender-ref ref="File" />
	</root>
</log4net>