<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="redis" connectionString="localhost;db=2;port=6379;maxReadPoolSize=10;maxWritePoolSize=500" />
  <add name="redisSentinel" connectionString="sentinelHosts=localhost:26380,localhost:26381,localhost:26382;masterName=mymaster;scanForOtherSentinels=false;db=1;maxReadPoolSize=10;maxWritePoolSize=500" />
  <add name="defPackagesWorkingCopyPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\TerrasoftPackages" />
  <add name="tempDirectoryPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\" />
  <add name="sourceControlAuthPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\Svn" />
  <add name="elasticsearchCredentials" connectionString="User=gs-es; Password=DEQpJMfKqUVTWg9wYVgi;" />
  <add name="influx" connectionString="url=http://10.0.7.161:30359; user=; password=; batchIntervalMs=5000" />
  <add name="db" connectionString="Data Source=DESKTOP-66G1CTQ\FURTOOS;Initial Catalog=SE_M_CENU_2889812_1124;Persist Security Info=True; MultipleActiveResultSets=True; User ID=Furtoos;Password=furtoo380977856617; Pooling = true; Max Pool Size = 100; Async = true" />
																											  
</connectionStrings>	