<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
	<ServiceProvider Name="https://site.bpmonline.com/"
				Description="Example bpm'online Service Provider"
				AssertionConsumerServiceUrl="~/ServiceModel/AuthService.svc/SsoLogin"
				LocalCertificateFile="Certificates\example.pfx"
				LocalCertificatePassword="password"
			/>
	<PartnerIdentityProviders>
		<!-- ADFS -->
		<PartnerIdentityProvider Name="https://adfs.test/adfs/services/trust"
								 Description="Example adfs Identity Provider"
								 SignAuthnRequest="false"
								 SignLogoutRequest="true"
								 WantSAMLResponseSigned="false"
								 WantAssertionSigned="false"
								 WantAssertionEncrypted="false"
								 SingleSignOnServiceUrl="https://adfs.test/adfs/ls/"
								 SingleLogoutServiceUrl="https://adfs.test/adfs/ls/"
								 PartnerCertificateFile="Certificates\idpExample.cer"/>

		<!-- OneLogin -->
		<PartnerIdentityProvider Name="https://app.onelogin.com/saml/metadata/yourAppNumber"
								 Description="OneLogin"
								 WantAssertionSigned="false"
								 SingleSignOnServiceUrl="https://ts-dev.onelogin.com/trust/saml2/http-post/sso/yourAppNumber"
								 SingleLogoutServiceUrl="https://ts-dev.onelogin.com/trust/saml2/http-redirect/slo/yourAppNumber"
								 PartnerCertificateFile="Certificates\onelogin.cer"/>
	</PartnerIdentityProviders>
</SAMLConfiguration>
