.right-panel-container *[data-item-type="mjbutton"] .properties-header,
.right-panel-container *[data-item-type="mjbutton"] .properties-content .ts-tabpanel {
  background-color: #3b82c7;
}
.right-panel-container *[data-item-type="mjbutton"] .ts-controlgroup-caption-wrap > span {
  color: #3b82c7;
}
.right-panel-container *[data-item-type="mjbutton"] .background-label-wrapper > label {
  color: #3b82c7;
}
