#MessageHistory .schema-wrap.one-el {
  min-width: 0;
}
.message-history {
  margin-top: 30px;
}
.message-history .message-history-items {
  width: 100%;
}
.historyMessageWrap {
  margin: 0 0 10px 0;
}
.historyMessageWrap .createdByImage {
  width: 32px;
  height: 32px;
  float: right;
  margin-right: 0;
  cursor: pointer;
}
.historyMessageWrap .createdByImage img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.historyMessageWrap .messageContent {
  margin: 0px 54px 0 85px;
  padding: 11px 14px 14px;
  position: relative;
}
.historyMessageWrap .messageContent .messageHeader {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.historyMessageWrap .messageContent .messageHeader * {
  font-size: 13px;
  width: auto;
  margin-right: 5px;
}
.historyMessageWrap .messageContent .messageHeader .createdByLinkWrap {
  float: left;
  margin-right: 30px;
  width: auto;
}
.historyMessageWrap .messageContent .messageHeader .creationInfoLabel {
  color: #999;
  width: auto;
  text-align: right;
  float: right;
}
.historyMessageWrap .messageContent .messageBody .messageText {
  color: #000;
  font-size: 14px;
}
.historyMessageWrap .messageContent.speech-bubble::after {
  top: 16px;
  right: -16px;
  bottom: auto;
  left: auto;
  border-width: 0 0 16px 16px;
  border-style: solid;
  content: "";
  position: absolute;
  display: block;
  width: 0;
}
.messageBody .multiline-label-wrap iframe {
  margin-left: 0px;
}
.multiline-label-wrap.message_files {
  line-height: 18px;
  margin-top: 15px;
  position: relative;
}
.multiline-label-wrap.message_files .multiline-label {
  margin-right: 110px;
}
.multiline-label-wrap.message_files .label-content-container {
  max-height: 18px;
}
.multiline-label-wrap.message_files .label-content-container:after {
  height: 18px;
}
.multiline-label-wrap.message_files .read-more {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 110px;
}
.multiline-label-wrap.message_files .read-more img {
  float: left;
}
.historyV2-container-wrap .icon16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}
.historyV2-container-wrap .icon16-label {
  font-size: 13px;
  position: absolute;
  vertical-align: baseline;
  color: #999;
  text-decoration: none;
}
.historyV2-container-wrap .icon16-label:hover {
  color: #4e7bd8;
  text-decoration: underline;
}
.historyV2-container-wrap .historyV2-group-caption-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 6px;
  margin-top: 17px;
  border-bottom: #e6e6e6 solid 1px;
}
.historyV2-container-wrap .historyV2-group-caption-container .historyV2GroupCaption {
  width: auto;
  font-size: 16px;
  color: #eb933d;
}
.historyV2-container-wrap .historyV2-message-header-container {
  display: flex;
}
.historyV2-container-wrap .historyV2-message-header-container > * {
  vertical-align: top;
  margin-top: 14px;
}
.historyV2-container-wrap .historyV2-message-header-container > * a,
.historyV2-container-wrap .historyV2-message-header-container > * label {
  margin-right: 4px;
  font-size: 14px;
}
.historyV2-container-wrap .historyV2-message-header-container .inline-container {
  display: inline-block;
}
.historyV2-container-wrap .historyV2-message-header-container .emailRecepients-container {
  max-width: 500px;
  display: inline-flex;
}
.historyV2-container-wrap .historyV2-message-header-container .emailRecepient {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.historyV2-container-wrap .historyV2-message-header-container .header-text {
  margin-right: 2px;
}
.historyV2-container-wrap .historyV2-message-header-container .header-text :last-child {
  margin-right: 0;
}
.historyV2-container-wrap .historyV2-message-header-container .email-actions-container {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 0;
}
.historyV2-container-wrap .historyV2-message-header-container .email-actions-container > span {
  padding-right: 0;
  padding-left: 10px;
}
.historyV2-container-wrap .historyV2-message-header-container .email-action-button {
  width: 24px;
  height: 24px;
}
.historyV2-container-wrap .historyV2-message-header-container .message-header-center-container {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 13px;
}
.historyV2-container-wrap .messages-split-line {
  border-bottom: #e6e6e6 solid 1px;
  width: calc(100% - 34px);
  margin-right: 0;
  margin-left: auto;
}
.historyV2-container-wrap .created-by-image {
  display: inline-block;
  margin: 0px;
}
.historyV2-container-wrap .created-by-image img {
  width: 28px;
  height: 28px;
  margin-top: 9px;
  margin-right: 14px;
  border-radius: 14px;
}
.historyV2-container-wrap .createdByLink {
  vertical-align: top;
  margin-top: 14px;
  display: inline;
}
.historyV2-container-wrap .channelIcon {
  display: inline-block;
  margin-right: 14px;
  vertical-align: top;
  margin-top: 14px;
  width: 20px;
  height: 20px;
}
.historyV2-container-wrap .channelIcon img {
  width: 20px;
  height: 20px;
}
.historyV2-container-wrap .messageContent {
  margin-left: 34px;
  padding-top: 10px;
  word-wrap: break-word;
}
.historyV2-container-wrap .headerText-container-wrap {
  vertical-align: top;
  margin-top: 14px;
  display: inline-block;
}
.historyV2-container-wrap .message-header-right-container {
  display: flex;
  white-space: nowrap;
  margin-left: auto;
  margin-top: 6px;
}
.historyV2-container-wrap .float-clear-container {
  clear: both;
}
.historyV2-container-wrap .creationInfoLabel {
  display: inline-block;
  margin-top: 6px;
  color: #999999;
}
.historyV2-container-wrap .historyV2-message-footer-container {
  padding-bottom: 16px;
}
.historyV2-container-wrap .historyV2-message-footer-container .show-more-comments-container {
  margin-top: 10px;
}
.historyV2-container-wrap .historyV2-message-footer-container .history-files-count-container {
  display: inline-block;
  padding-top: 10px;
  margin-left: 34px;
}
.historyV2-container-wrap .historyV2-message-footer-container .history-files-count-container .history-files-count-label {
  cursor: pointer;
}
.inline-message-history-files {
  max-height: none;
  margin-top: 15px;
  position: relative;
}
