.report-custom-view-container {
  margin-bottom: 12px;
}
.report-custom-control-container {
  float: left;
}
.report-custom-label-container {
  width: auto;
  padding-left: 12px;
}
.report-custom-label {
  margin-bottom: 6px;
  width: auto;
}
.report-filter-inner-container {
  height: 34px;
  float: left;
}
.report-element-with-space {
  width: auto;
  margin-right: 9px;
  margin-left: 9px;
}
.report-custom-label-with-top {
  width: auto;
  margin-top: 25px;
  margin-bottom: 14px;
}
.report-custom-label-with-top28 {
  width: auto;
  margin-top: 25px;
  margin-bottom: 6px;
  display: inherit;
}
.report-with-centered-right-menu {
  position: relative;
  padding-right: 1.86em;
  padding-left: 0px;
}
.report-custom-control {
  width: 215px;
}
