.historyV2-social-message-main-container .historyV2-message-footer-container {
  padding-right: 34px;
}
.historyV2-social-message-main-container .show-hide-comments-container {
  padding-top: 10px;
}
.esn-comments-container {
  background-color: #fafbfc;
  padding: 0 14px;
}
