.ts-controlgroup-tools .info-button-recipient-detail {
  border: 0px !important;
  margin: -1px -4px 0px 0px;
  padding: 1px 0px 0px 0px;
}
.ts-controlgroup-tools .info-button-image {
  margin-right: -0.8em;
}
