<behaviors>
	<endpointBehaviors>
		<behavior name="RestServiceBehavior">
			<webHttp helpEnabled="false" />
		</behavior>
		<behavior name="RestServiceBehaviorWithHelp">
			<webHttp helpEnabled="true" />
		</behavior>
	</endpointBehaviors>
	<serviceBehaviors>
		<behavior>
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
		<behavior name="BaseServiceBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceDebug includeExceptionDetailInFaults="true" />
			<serviceMetadata httpGetEnabled="true" />
			<serviceThrottling
				maxConcurrentCalls="1000"
				maxConcurrentInstances="1000"
				maxConcurrentSessions="1000" />
		</behavior>
		<behavior name="RestServiceBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true"  />
		</behavior>
		<behavior name="PackageInstallerService.FileUploadBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
	</serviceBehaviors>
</behaviors>
