<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" >
	<variable name="LogDir" value="Logs" />
	<variable name="LogDateFileName" value="${date:format=yyyyMMdd}.log" />
	<variable name="LogDateTimeFileName" value="${date:format=yyyyMMdd-HH}.log" />
	<variable name="DefaultLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${message:withException=true}" />
	<targets async="true">
		<default-target-parameters xsi:type="File" keepFileOpen="false" encoding="utf-8"
			archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" writeBom="true" />
		<target xsi:type="File" name="asteriskClientAppender"
			fileName="${LogDir}\asterisk\asteriskClient\${LogDateTimeFileName}" layout="${DefaultLayout}" />
		<target xsi:type="FilteringWrapper" name="asteriskClientNetworkIncomingTraceAppender" condition="level == LogLevel.Trace">
			<target xsi:type="File" name="asteriskClientNetworkIncomingTraceFileAppender"
				fileName="${LogDir}\asterisk\asteriskClientNetworkIncoming\Trace\${LogDateTimeFileName}" layout="${message:withException=true}" />
		</target>
		<target xsi:type="FilteringWrapper" name="asteriskClientNetworkIncomingErrorAppender" condition="level == LogLevel.Error">
			<target xsi:type="File" name="asteriskClientNetworkIncomingErrorFileAppender"
				fileName="${LogDir}\asterisk\asteriskClientNetworkIncoming\Error\${LogDateFileName}" layout="${DefaultLayout}" />
		</target>
		<target xsi:type="File" name="asteriskClientNetworkOutcomingAppender"
			fileName="${LogDir}\asterisk\asteriskClientNetworkOutcoming\${LogDateTimeFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="asteriskClientParsingAppender"
			fileName="${LogDir}\asterisk\asteriskClientParsing\${LogDateTimeFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="asteriskClientPerformanceAppender"
			fileName="${LogDir}\asterisk\asteriskClientPerformance\${LogDateTimeFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="asteriskAdapterAppender"
			fileName="${LogDir}\asterisk\asteriskAdapter\${LogDateTimeFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="asteriskConnectionAppender"
			fileName="${LogDir}\asterisk\asteriskConnection\${LogDateFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="asteriskManagerAppender"
			fileName="${LogDir}\asterisk\asteriskManager\${LogDateFileName}" layout="${DefaultLayout}" />
		<target xsi:type="File" name="callwayClientAppender"
			fileName="${LogDir}\callwayClient\${LogDateFileName}" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} - ${message:withException=true}" />
		<target xsi:type="File" name="callwayPacketDispatcherAppender"
			fileName="${LogDir}\callwayPacketDispatcher\${LogDateFileName}" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} - ${message:withException=true}" />
		<target xsi:type="File" name="callwayFrameParserAppender"
			fileName="${LogDir}\callwayFrameParser\${LogDateFileName}" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} - ${message:withException=true}" />
		<target xsi:type="File" name="errorAppender" fileName="${LogDir}\err.log"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${level:uppercase=true} ${logger} - ${message:withException=true}" />
		<target xsi:type="File" name="infoAppender" fileName="${LogDir}\info.log"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${level:uppercase=true} ${logger} - ${message:withException=true}" />
		<target xsi:type="File" name="debugAppender" fileName="${LogDir}\debug.log"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${threadid}] ${level:uppercase=true} ${logger} - ${message:withException=true}" />
		<target xsi:type="File" name="perfAppender" fileName="${LogDir}\perf.log"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${logger} - ${message:withException=true}" />
	</targets>
	<rules>
		<logger name="Performance" writeTo="perfAppender" level="Info" final="true" />
		<logger name="AsteriskClientNetworkIncoming" level="Trace" final="true" />
		<logger name="AsteriskClientNetworkIncoming" level="Error" final="true" />
		<logger name="AsteriskClientNetworkIncoming" final="true" />
		<logger name="AsteriskClientNetworkOutcoming" writeTo="asteriskClientNetworkOutcomingAppender" final="true" />
		<logger name="AsteriskClientParsing" writeTo="asteriskClientParsingAppender" final="true" />
		<logger name="AsteriskClientPerformance" final="true" />
		<logger name="AsteriskClient" writeTo="asteriskClientAppender" final="true" />
		<logger name="AsteriskAdapter" minlevel="Debug" writeTo="asteriskAdapterAppender" final="true" />
		<logger name="AsteriskConnection" writeTo="asteriskConnectionAppender" final="true" />
		<logger name="AsteriskManager" writeTo="asteriskManagerAppender" final="true" />
		<logger name="CallwayClient" writeTo="callwayClientAppender" />
		<logger name="CallwayPacketDispatcher" writeTo="callwayPacketDispatcherAppender" />
		<logger name="CallwayFrameParser" writeTo="callwayFrameParserAppender" />
		<logger name="*" level="Error" writeTo="errorAppender" />
		<logger name="*" level="Info" writeTo="infoAppender" />
		<logger name="*" level="Debug" writeTo="debugAppender" />
	</rules>
</nlog>
