<behaviors>
	<endpointBehaviors>
		<behavior name="RestServiceBehavior">
			<webHttp helpEnabled="false"/>
		</behavior>
		<behavior name="RestServiceBehaviorWithHelp">
			<webHttp helpEnabled="true" />
		</behavior>
	</endpointBehaviors>
	<serviceBehaviors>
		<behavior>
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpsGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
		<behavior name="BaseServiceBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpsGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
			<serviceThrottling
				maxConcurrentCalls="2147483646"
				maxConcurrentInstances="100"
				maxConcurrentSessions="2147483646" />
		</behavior>
		<behavior name="RestServiceBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpsGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
		<behavior name="PackageInstallerService.FileUploadBehavior">
			<errorHandler/>
			<matchAllMessage/>
			<threadContextInitializer/>
			<serviceMetadata httpGetEnabled="true" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
	</serviceBehaviors>
</behaviors>