<bindings>
	<wsHttpBinding>
		<binding name="UserServiceBinding"
				 maxReceivedMessageSize="2000000000"
				 maxBufferPoolSize="65536"
				 messageEncoding="Mtom"
				 transactionFlow="true">
			<reliableSession enabled="False" />
			<readerQuotas maxDepth="64"
						  maxArrayLength="65536"
						  maxBytesPerRead="65536"
						  maxStringContentLength="2000000000" />
			<security mode="Transport">
				<transport clientCredentialType="None"></transport>
			</security>
		</binding>
	</wsHttpBinding>
	<basicHttpBinding>
		<binding>
			<security mode="Transport">
				<transport clientCredentialType="None" />
			</security>
		</binding>
		<binding name="ReportServiceBinding">
				<security mode="Transport">
					<transport clientCredentialType="None" />
				</security>
		</binding>
	</basicHttpBinding>
	<webHttpBinding>
		<binding maxReceivedMessageSize="10485760">
			<security mode="Transport">
				<transport clientCredentialType="None" />
			</security>
		</binding>
		<binding name="PackageInstallerService.WebHttp"
				maxBufferSize="10485760"
				maxBufferPoolSize="10485760"
				maxReceivedMessageSize="10485760"
				transferMode="Streamed"
				sendTimeout="01:00:00">
			<readerQuotas  maxDepth="10485760"
					maxStringContentLength="10485760"
					maxArrayLength="10485760"
					maxBytesPerRead="10485760"
					maxNameTableCharCount="10485760"/>
			<security mode="Transport">
				<transport clientCredentialType="None" />
			</security>
		</binding>
		<binding name="AppInstallerService.WebHttp"
			maxBufferSize="10485760"
			maxBufferPoolSize="10485760"
			maxReceivedMessageSize="10485760"
			transferMode="Streamed"
			sendTimeout="01:00:00">
			<readerQuotas  maxDepth="10485760"
				maxStringContentLength="10485760"
				maxArrayLength="10485760"
				maxBytesPerRead="10485760"
				maxNameTableCharCount="10485760"/>
			<security mode="Transport">
				<transport clientCredentialType="None" />
			</security>
		</binding>
		<binding name="DCTemplateService.WebHttp"
				maxBufferSize="41943040"
				maxBufferPoolSize="41943040"
				maxReceivedMessageSize="41943040"
				transferMode="Streamed"
				sendTimeout="01:00:00">
			<readerQuotas  maxDepth="41943040"
					maxStringContentLength="41943040"
					maxArrayLength="41943040"
					maxBytesPerRead="41943040"
					maxNameTableCharCount="41943040"/>
			<security mode="Transport">
				<transport clientCredentialType="None" />
			</security>
		</binding>
	</webHttpBinding>
</bindings>