<services>
	<service name="Terrasoft.Core.ServiceModel.ProcessEngineService">
		<endpoint name="ProcessEngineServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration ="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModelContract.IProcessEngineService" />
	</service>
	<service name="Terrasoft.Core.ServiceModel.ProcessSchemaManagerService">
		<endpoint name="ProcessSchemaManagerServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModelContract.IProcessSchemaManagerService" />
	</service>
	<service name="Terrasoft.Core.ServiceModel.DcmSchemaManagerService">
		<endpoint name="DcmSchemaManagerServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModelContract.IDcmSchemaManagerService" />
	</service>
	<service name="Terrasoft.WebApp.ServiceModel.PackageInstallerService"
		behaviorConfiguration="PackageInstallerService.FileUploadBehavior">
		<endpoint name="PackageInstallerServiceEndPoint"
				address=""
				binding="webHttpBinding"
				behaviorConfiguration="RestServiceBehavior"
				bindingConfiguration="PackageInstallerService.WebHttp"
				bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
				contract="Terrasoft.Core.ServiceModelContract.IPackageInstallerService" />
	</service>
	<service name="Terrasoft.WebApp.ServiceModel.AppInstallerService">
		<endpoint name="AppInstallerServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingConfiguration="AppInstallerService.WebHttp"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModelContract.IAppInstallerService" />
	</service>
	<service behaviorConfiguration="BaseServiceBehavior" name="Terrasoft.Core.ServiceModel.UserService">
		<endpoint name="UserServiceEndPoint"
			binding="wsHttpBinding"
			bindingConfiguration="UserServiceBinding"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModelContract.IUserService" />
		<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
	</service>
	<service name="Terrasoft.Core.ServiceModel.ServiceOAuthAuthenticatorEndpoint">
		<endpoint name="ServiceOAuthAuthenticatorEndpoint"
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Core.ServiceModel.IServiceOAuthAuthenticatorEndpoint" />
	</service>
	<service behaviorConfiguration="BaseServiceBehavior" name="Terrasoft.Messaging.Common.MsgUtilService">
		<endpoint name="MsgUtilServiceEndPoint"
			binding="webHttpBinding"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			behaviorConfiguration="RestServiceBehavior"
			contract="Terrasoft.Messaging.Common.IMsgUtilService" />
		<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
	</service>
	<service name="Terrasoft.Configuration.GeneratedWebFormService.GeneratedWebFormService">
		<endpoint name="GeneratedWebFormServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.GeneratedWebFormService.GeneratedWebFormService" />
	</service>
	<service name="Terrasoft.Configuration.ExchangeListenerService">
		<endpoint name="ExchangeListenerServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.ExchangeListenerService" />
	</service>
	<service name="Terrasoft.Configuration.GlobalSearch.IndexingConfigService">
		<endpoint name="IndexingConfigServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.GlobalSearch.IndexingConfigService" />
	</service>
	<service name="Terrasoft.Configuration.ReportCallbackService">
		<endpoint name="ReportCallbackServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.ReportCallbackService" />
	</service>
	<service name="Terrasoft.Configuration.TestDataService">
		<endpoint name="TestDataServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.TestDataService" />
	</service>
	<service name="Terrasoft.Configuration.CaseRatingManagementService.CaseRatingManagementService">
		<endpoint name="CaseRatingManagementServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.CaseRatingManagementService.CaseRatingManagementService" />
	</service>
	<service name="Terrasoft.Configuration.MandrillService.MandrillService">
		<endpoint name="MandrillServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.MandrillService.MandrillService" />
	</service>
	<service name="Terrasoft.Configuration.EventTrackingService.EventTrackingService">
		<endpoint name="EventTrackingServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.EventTrackingService.EventTrackingService" />
	</service>
	<service name="Terrasoft.Configuration.ScoringService.ScoringService">
		<endpoint name="ScoringServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.ScoringService.ScoringService" />
	</service>
	<service name="Terrasoft.Configuration.CESWebHooksService">
		<endpoint name="CESWebHooksServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.CESWebHooksService" />
	</service>
	<service name="Terrasoft.Configuration.CESTroubleshootingService">
		<endpoint name="CESTroubleshootingServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.CESTroubleshootingService" />
	</service>
	<service name="Terrasoft.Configuration.GeneratedWebFormService.GeneratedObjectWebFormService">
		<endpoint name="GeneratedObjectWebFormServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.GeneratedWebFormService.GeneratedObjectWebFormService" />
	</service>
	<service name="Terrasoft.Configuration.BsoJivosite.BsoJivositeSvc">
		<endpoint name="BsoJivositeSvcEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.BsoJivosite.BsoJivositeSvc" />
	</service>
	<service name="Terrasoft.Configuration.BsoTilda.BsoTildaSvc">
		<endpoint name="BsoTildaSvcEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.BsoTilda.BsoTildaSvc" />
	</service>
	<service name="Terrasoft.Configuration.DocumentsService">
		<endpoint name="DocumentsServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.DocumentsService" />
	</service>
	<service name="Terrasoft.Configuration.PtOauthService">
		<endpoint name="PtOauthServiceEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.PtOauthService" />
	</service>
	<service name="Terrasoft.Configuration.AletMangoCloudConnector.AletMangoCloudConnector">
		<endpoint name="AletMangoCloudConnectorEndPoint"
				address=""
				binding="webHttpBinding"
				behaviorConfiguration="RestServiceBehavior"
				bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
				contract="Terrasoft.Configuration.AletMangoCloudConnector.AletMangoCloudConnector" />
	</service>
	<service name="Tm.Integrations.ScriptDesigner.ScriptDesignerService">
		<endpoint name="ScriptDesignerServiceEndPoint"
				address=""
				binding="webHttpBinding"
				behaviorConfiguration="RestServiceBehavior"
				bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
				contract="Tm.Integrations.ScriptDesigner.ScriptDesignerService" />
	</service>
	<service name="Terrasoft.Configuration.FacebookWebhookService.FacebookWebhookService">
		<endpoint name="FacebookWebhookServiceEndPoint"
				address=""
				binding="webHttpBinding"
				behaviorConfiguration="RestServiceBehavior"
				bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
				contract="Terrasoft.Configuration.FacebookWebhookService.FacebookWebhookService" />
	</service>
	<service name="Terrasoft.Configuration.OpChatraWebhook">
		<endpoint name="OpChatraWebhookEndPoint"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="Terrasoft.Configuration.OpChatraWebhook" />
	</service>
	<service name="OrangeProcess.OPMyCallsUtils">
		<endpoint name="OPMyCallsUtils"
			address=""
			binding="webHttpBinding"
			behaviorConfiguration="RestServiceBehavior"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			contract="OrangeProcess.OPMyCallsUtils" />
	</service>
	<service behaviorConfiguration="BaseServiceBehavior" name="Terrasoft.Configuration.DynamicContent.DCTemplateService">
		<endpoint name="DCTemplateServiceEndPoint"
			address=""
			binding="webHttpBinding"
			bindingNamespace="http://Terrasoft.WebApp.ServiceModel"
			bindingConfiguration="DCTemplateService.WebHttp"
			behaviorConfiguration="RestServiceBehaviorWithHelp"
			contract="Terrasoft.Configuration.DynamicContent.DCTemplateService" />
	</service>
</services>
