<extensions>
  <behaviorExtensions>
    <!-- Делать разрывы строк внутри атрибута type запрещено! -->
    <!-- Значения атрибутов type изменяются при автосборке. При добавлении/удалении/изменении содержимого оповестить ответственного за автосборку! -->
    <add name="errorHandler" type="Terrasoft.Web.Common.ServiceModel.ErrorHandlerElement, Terrasoft.Web.Common, Version=7.15.2.501, Culture=neutral, PublicKeyToken=edaadfbc3b0bb879" />
    <add name="matchAllMessage" type="Terrasoft.Web.Common.ServiceModel.MatchAllMessageElement, Terrasoft.Web.Common, Version=7.15.2.501, Culture=neutral, PublicKeyToken=edaadfbc3b0bb879" />
    <add name="threadContextInitializer" type="Terrasoft.Web.Common.ServiceModel.ThreadContextInitializerElement, Terrasoft.Web.Common, Version=7.15.2.501, Culture=neutral, PublicKeyToken=edaadfbc3b0bb879" />
  </behaviorExtensions>
</extensions>