<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" >
	<variable name="LogDir" value="${tempdir}/BPMOnline/${iis-site-name}/${iis-application-name}/Log" />
	<variable name="LogDay" value="${date:format=yyyy_MM_dd}" />
	<variable name="MethodName" value="${callsite:className=False:includeNamespace=False:methodName=true:skipFrames=1}" />
	<variable name="UserName" value="${whenEmpty:whenEmpty=${aspnet-user-identity}:inner=${windows-identity}}" />
	<variable name="ThreadIdOrName" value="${whenEmpty:whenEmpty=${threadid}:inner=${threadname}}" />
	<variable name="Message" value="${message:withException=true}" />
	<variable name="Date" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff}" />
	<variable name="DefaultLayout" value="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${logger} ${MethodName} - ${Message}" />
	<variable name="SimplifiedLayout" value="${Date} ${Message}" />
	<targets>
		<default-wrapper xsi:type="AsyncWrapper" queueLimit="200" overflowAction="Grow" />
		<default-target-parameters xsi:type="File" keepFileOpen="false" encoding="utf-8" />
		<target name="commonAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Common.log" >
		</target>
		<target name="universalAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/${logger:shortName=True}.log" />
		<target name="universalSyncAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/Sync/${logger:shortName=True}.log" />
		<target name="errorAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Error.log" />
		<target name="scedulerAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Scheduler.log" />
		<target name="commonSyncAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Sync/Common.log" />
		<target name="caseNotificationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/CaseNotification/CaseNotification.log" />
		<target name="timeZoneMacrosConverterAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/TimeZoneMacrosConverter/TimeZoneMacrosConverter.log" />
		<target name="emailMiningAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/Enrichment/EmailMining.log" />
		<target name="contactEnrichmentAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/Enrichment/ContactEnrichment.log" />
		<target name="MLAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/ML/ML.log" />
		<target name="multiDeleteAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/MultiDelete.log" />
		<target name="sqlLogAppender" xsi:type="File" fileName="${LogDir}/${LogDay}/SQL.json" >
			<archiveNumbering>Sequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveFileName>${LogDir}/${LogDay}/SQL.{#}.json</archiveFileName>
			<archiveAboveSize>262144000</archiveAboveSize>
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="app" layout="${processname}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="ndc" layout="${ndc}" />
				<attribute name="exception" layout="${exception}" encode="true" />
				<attribute name="message" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="applicationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Application.log" >
		</target>
		<target name="retryOperationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/RetryOperation.log" >
		</target>
		<target name="loggingDataReaderAppender" xsi:type="File"
			fileName="${LogDir}/${LogDay}/LoggingDataReader.json" >
			<archiveNumbering>DateAndSequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
			<archiveAboveSize>262144</archiveAboveSize>
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="ndc" layout="${ndc}" />
				<attribute name="messageObject" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="performanceJsonLoggerAppender" xsi:type="File"
			fileName="${LogDir}/${LogDay}/PerformanceLogger.json" >
			<archiveNumbering>DateAndSequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
			<archiveAboveSize>262144</archiveAboveSize>
			<layout xsi:type="JsonLayout" excludeProperties="ndc,appname,level" >
				<attribute name="d" layout="${longdate}" />
				<attribute name="t" layout="${threadid}" />
				<attribute name="u" layout="${UserName}" />
				<attribute name="m" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="sspUserOperationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/SSP/SSPUserOperation.log" />
		<target name="googleContactAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/GoogleContact.log" />
		<target name="clientAppender" xsi:type="file"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/Client.log" />
		<target name="clientUnitAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/ClientUnit.log" />
		<target name="queuesNotificationsAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/QueuesNotifications.log" />
		<target name="processAppender" xsi:type="File"
			layout="${Date} ${uppercase:${level}} ${UserName} ${logger:shortName=true} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/BusinessProcess.log" encoding="windows-1251" />
		<target name="coreDiagnosticsAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${LogDir}/${LogDay}/CoreDiagnostics.log" />
		<target name="authenticationAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${LogDir}/${LogDay}/Auth.log" />
		<target name="packagesSynchronizationAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${LogDir}/${LogDay}/PackagesSynchronization.log" />
		<target name="packagesFileTarget" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${LogDir}/${LogDay}/Packages.log" />
		<target name="createBundleAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${LogDir}/${LogDay}/CreateBundle.log" />
		<target name="msgUtilServiceAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/MsgUtilService.log" />
		<target name="activeCallCollectionAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${LogDir}/${LogDay}/ActiveCallCollection.log" />
		<target name="globalSearchAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/GlobalSearch.log" />
		<target name="actorSystemAppender" xsi:type="File"
			layout="${Date} ${uppercase:${level}} ${logger} - ${Message}"
			fileName="${LogDir}/${LogDay}/ActorSystem.log" />
		<target name="messagingAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/Messaging.log" />
		<target name="bonusPaymentAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/BonusPayment.log" />
		<target name="xssAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/Xss.log" />
		<target name="threadPoolAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${LogDir}/${LogDay}/ThreadPool.log" />
		<target name="GelfFileAppender" xsi:type="File" fileName="${LogDir}/${LogDay}/gelf.log">
			<layout xsi:type="GelfJsonLayout" facility="bpmOnline">
				<attribute name="mesasgeObject" layout="${messageObject}" encode="false"/>
			</layout>
		</target>
	</targets>
</nlog>