<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" >
	<include file="nlog.cloud.settings.config" />
	<targets>
		<wrapper-target xsi:type="BufferingWrapper" name="AdoNetBufferedAppender"
			bufferSize="200"
			flushTimeout="120000" >
			<target xsi:type="Database" name="AdoNetAppender" connectionString="${ConnectionString}" >
				<commandType>Text</commandType>
				<commandText>INSERT INTO [dbo].[log4net] ([Date],[Host],[Site],[Thread],[Level],[Logger],[User],[Message],[Exception], [MessageObject]) VALUES (@log_date, @log_host, @log_site, @log_thread, @log_level, @log_logger, @log_user, @log_message, @log_exception, @message_object)</commandText>
				<parameter name="@log_date" layout="${date}" />
				<parameter name="@log_host" size="255" layout="${machinename}" />
				<parameter name="@log_site" size="255" layout="${iis-site-name}" />
				<parameter name="@log_thread" size="255" layout="${threadid}" />
				<parameter name="@log_level" size="20" layout="${level}" />
				<parameter name="@log_logger" size="255" layout="${logger}" />
				<parameter name="@log_user" size="255" layout="${identity}" />
				<parameter name="@log_message" size="4000" layout="${message}" />
				<parameter name="@log_exception" size="4000" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10}" />
				<parameter name="@message_object" layout="${messageObject}" />
			</target>
		</wrapper-target>
		<wrapper-target xsi:type="BufferingWrapper" name="BufferedGelfFileAppender"
			bufferSize="200"
			flushTimeout="120000" >
			<target name="GelfFileAppender" xsi:type="File" fileName="${LogDir}/${LogDay}/gelf.log">
				<layout xsi:type="GelfJsonLayout" facility="bpmOnline">
					<attribute name="mesasgeObject" layout="${messageObject}" encode="false"/>
				</layout>
			</target>
		</wrapper-target>
		<target xsi:type="File" name="ExchangeAppender"
			fileName="${LogDir}/${LogDay}/Sync/Exchange.log"
			keepFileOpen="true"
			layout="${DefaultLayout}"
			encoding="utf-8" />
	</targets>
	<rules>
		<logger name="ProcessExecutionTraceLog" minlevel="Info" writeTo="AdoNetBufferedAppender" final="true"/>
		<logger name="*" minlevel="Warn" writeTo="AdoNetBufferedAppender" />
		<!--<logger name="*" minlevel="Warn" writeTo="BufferedGelfFileAppender" />-->
		<logger name="InstallZipPackage" minlevel="Info" writeTo="AdoNetBufferedAppender" />
		<logger name="Exchange" minlevel="Warn" writeTo="ExchangeAppender" final="true" />
		<logger name="Build" minlevel="Info" writeTo="AdoNetBufferedAppender" />
		<logger name="ConfigurationBuild" minlevel="Info" writeTo="AdoNetBufferedAppender" />
	</rules>
</nlog>