<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" >
	<variable name="DbProviderName" value="" />
	<variable name="ConnectionString" value="Data Source=#SQLServer#; Initial Catalog=syslog; Persist Security Info=True; MultipleActiveResultSets=True; User ID=#NLogUser#; Password=#NLogUserPassword#; Pooling = true; Max Pool Size = 100" />
	<variable name="LogDir" value="${tempdir}/BPMOnline/${iis-site-name}/${iis-application-name}/Log" />
	<variable name="LogDay" value="${date:format=yyyy_MM_dd}" />
	<variable name="DefaultLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} [${whenEmpty:whenEmpty=${threadname}:inner=${threadid}}] ${uppercase:${level}} ${whenEmpty:whenEmpty=${aspnet-user-identity}:inner=${windows-identity}} ${logger} ${callsite:className=False:includeNamespace=False:methodName=true:skipFrames=1} - ${message}" />
</nlog>